<h1>Welcome, <%= @user.email %>!</h1>

<% if @user.avatar_file_name == nil %>
  <%= link_to "Add profile photo", edit_user_path(@user) %>
  <% image_tag @user.avatar.url(:small) %>
<% else %>
  <%= image_tag @user.avatar.url(:small) %>
  <%= link_to "Edit profile photo", edit_user_path(@user) %>
<% end %>

<h2>Photos you are tagged in:</h2>
<ul>
  <% @user.tags.each do |tag| %>
    <% if tag.user_id == @user.id %>
      <%= image_tag Photo.find(tag.photo_id).photo.url %>
    <% end %>
  <% end %>
</ul>

<h2>Favorited Photos:</h2>
<ul>
  <% @user.favorites.each do |favorite| %>
    <% if favorite.user_id == @user.id %>
      <%= image_tag Photo.find(favorite.photo_id).photo.url %>
    <% end %>
  <% end %>
</ul>

<%= link_to "Add a new photo", new_user_photo_path(@user) %>
